.App {
  text-align: center;
}

iFrame {
  border: 0; 
}

.eventsBox {
  margin: 0 5em 5em 5em;
  background-color: gray;
  display: flex;
}

.eventBox {
  border: solid burlywood 1px;
  display: flex;
}

.add-button {
  display:flex;
  margin-left: auto;
  padding-right: 10px;
  align-self: flex-end;
}

.add-button button { /* Fab */
  align-self: flex-end;
  margin-bottom: 10px;
}

.iframeBox {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

.toolbar {
  margin: 5em;
}