.App {
  text-align: center;
}

iFrame {
  border: 0; 
}

.eventsBox {
  margin: 20px 5em 30px 5em;
  padding: 5px;
  background-color: rgb(210, 203, 236);
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* .eventBox {
  border: solid burlywood 1px;
  display: flex;
} */

.add-button {
  margin-left: auto;
  padding-right: 10px;
  /* align-self: flex-end; */
  position: absolute;
  right: 50px;
  top: 250px;
}

.add-button button { /* Fab */
  align-self: flex-end;
  margin-bottom: 10px;
}

.iframeBox {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

.toolbar {
  margin: 5em;
}